@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Germania+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ruslan+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow: hidden;
}

button,
a {
    cursor: pointer;
}

@layer components {
    .input {
        @apply block text-sm font-medium mt-2 w-full px-4 py-2 border shadow-sm focus:outline-none focus:ring-1 rounded-md text-ltext border-linputborder bg-white focus:ring-linputfocus dark:text-dtext dark:border-dinputborder dark:bg-dbg dark:focus:ring-dinputfocus;
    }

    .btn{
        @apply flex items-center space-x-2 px-6 py-3 text-white rounded shadow-sm bg-laccent dark:bg-daccent hover:bg-laccenthover dark:hover:bg-daccenthover
    }

    .btnvariant{
        @apply flex items-center space-x-2 px-6 py-3 text-laccent border-2 border-laccent dark:text-daccent rounded shadow-sm bg-lbg dark:bg-dbg hover:bg-laccenthover hover:text-white
    }

    .btn-form{
        @apply w-full py-3 px-4 bg-laccent hover:bg-laccenthover dark:bg-daccent dark:hover:bg-daccenthover text-white font-medium rounded-md shadow-lg
    }
}