@tailwind base;
@tailwind components;
@tailwind utilities;

/* app.css */
html {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
    background-color: var(--darkBg);
    color: white;
}

.light {
    background-color: var(--lightBg);
    color: black;
}